.tab{
    border: 1px solid gray;
}
.tab ul{
    list-style-type: none;
   
}
.tab ul li{
   
    display: inline;
    color: white;
    text-align: center;
    background-color: gray;
}
.tab ul li:hover{
    color: blue;
    cursor: pointer;
    background-color: white;
}

.content{
    display: none;
}
.show-content{
    display: block;
}